#App {
  margin-top: 3vw;
  margin-bottom: 3vw;
}
/*

NAVBAR

*/
.navUL {
  list-style-type: none;
  padding: 0;
  padding-top: 3vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}

.sideNav {
  display: flex;
  background: #f5f0eb;
  width: 23vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.navItem {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.navItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.currentPage {
  text-decoration: underline;
}

#bun {
  display: none;
}

/*

PAGES

*/

.mBody {
  width: 65vw;
  margin-left: 26vw;
  margin-right: 3vw;
}

.hollowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #009600;
  border: 4px solid #009600;
  font-size: calc(7px + 1.3vw);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 800;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 3%;
}

.hollowButton:hover {
  background-color: #009600;
  color: white;
  cursor: pointer;
}

.faq {
  margin-top: 5vw;
}

.faq1 {
  padding: 0.5vw;
}

.allImg {
  height: 6vw;
  padding-top: 0.7vw;
  padding-bottom: 1vw;
}

.specialImg {
  height: 26vw;
  padding-top: 0.7vw;
  padding-bottom: 1vw;
}

.imgSet {
  display: flex;
  justify-content: space-between;
}

.filledButton {
  background-color: black;
  color: white;
  font-size: calc(7px + 1.2vw);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 800;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  margin-top: 2vw;
  border: none;
}

.filledButton:hover {
  cursor: pointer;
}

.pillButton {
  background-color: #f0fcf0;
  color: #009600;
  font-size: calc(7px + 1.2vw);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  margin-top: 2vw;
  margin-left: 0.8vw;
  border: 2px solid #009600;
  border-radius: 20px;
}

.pillButtonDe {
  background-color: #ffffff;
  color: gray;
  font-size: calc(7px + 1.2vw);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  margin-left: 0.8vw;
  margin-top: 2vw;
  border: 2px solid gray;
  border-radius: 20px;
}

.pillButton:hover {
  cursor: pointer;
}

.pillButtonDe:hover {
  cursor: pointer;
}

.centered {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.solo {
  display: flex;
  justify-content: flex-end;
}

.preview {
  width: 100%;
  margin-top: 3vw;
}

/*

FAN

*/

.fan {
  background-color: white;
  box-shadow: 0 0 10px 3px #dddddd;
  border-radius: 25px;
  padding-left: 1.3vw;
  padding-right: 1.3vw;
  padding-top: 0.05vw;
  padding-bottom: 1vw;
  margin-top: 2vw;
}

.fanText {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.starter {
  display: flex;
  align-items: baseline;
}

.fanName {
  padding-right: 1vw;
}

.fanImg {
  height: 5.1vw;
  padding-bottom: 1vw;
  margin-right: 0.5vw;
}

.htext {
  margin-left: 1vw;
}

/* 

QUIZ

*/

#frame {
  display: flex;
  margin-top: 2.2vw;
}

#alsoGone {
  display: flex;
}

.embed {
  -ms-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

#mob {
  display: none;
}

/*

!!!!!!!!!!!!!!!!!!SMALL PAGE SIZE!!!!!!!!!!!!!!!!!!

*/

@media only screen and (max-width: 850px) {
  /*

NAVBAR

*/
  .navUL {
    padding-top: 5vh;
    margin-left: 10vw;
  }

  .sideNav {
    width: 65vw;
    height: 100vh;
  }

  #bun {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 3%;
    margin-left: 3%;
    z-index: 50;
    position: fixed;
  }

  #flex {
    display: flex;
  }

  #none {
    display: none;
  }

  #bun:hover {
    cursor: pointer;
  }

  .burg {
    width: 100%;
    padding: 0;
    margin: 1.5px;
    border: 1px solid black;
  }

  /*

PAGES

*/

  .mBody {
    width: 90vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 5vw;
    padding-top: 4vw;
  }

  .hollowButton {
    border: 2px solid #009600;
    font-size: calc(7px + 1.3vw);
  }

  .allImg {
    height: 10.5vw;
  }

  .specialImg {
    height: 56vw;
  }

  .filledButton {
    font-size: calc(7px + 1.2vw);
    font-family: "IBM Plex Sans", sans-serif;
  }

  .pillButton {
    font-size: calc(7px + 1.2vw);
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.8vw;
  }

  .pillButtonDe {
    font-size: calc(7px + 1.2vw);
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.8vw;
  }

  /*

FAN

*/

  .fan {
    box-shadow: 0 0 3px 1px #dddddd;
    border-radius: 10px;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-bottom: 3.5vw;
    margin-top: 5vw;
  }

  .fanImg {
    height: 7.1vw;
  }

  /* 

QUIZ

*/

  #frame {
    display: none;
  }

  #mob {
    display: flex;
  }

  #alsoGone {
    display: none;
  }
}
